# Managed by Ansible (sshd_hardening role)
Port {{ sshd_port }}
{% for addr in sshd_listen_addresses -%}
ListenAddress {{ addr }}
{% endfor -%}

Protocol 2
UsePAM yes

LoginGraceTime {{ sshd_login_grace_time }}
MaxAuthTries {{ sshd_max_auth_tries | int }}
MaxSessions {{ sshd_max_sessions }}
 
{% if sshd_max_startups is defined %}
MaxStartups {{ sshd_max_startups }}
{% endif %}
 
PermitRootLogin {{ sshd_permit_root_login }}
PasswordAuthentication {{ 'yes' if sshd_password_auth else 'no' }}
KbdInteractiveAuthentication {{ 'yes' if sshd_kbd_interactive else 'no' }}
PubkeyAuthentication {{ 'yes' if sshd_pubkey_auth else 'no' }}

UseDNS {{ sshd_usedns }}
PermitEmptyPasswords {{ sshd_permit_empty_password }}
GSSAPIAuthentication {{ sshd_gss_api_authentication }}

{% if sshd_authentication_methods is defined %}
AuthenticationMethods {{ sshd_authentication_methods }}
{% endif %}
 
AllowTcpForwarding {{ sshd_allow_tcp_forwarding }}
AllowAgentForwarding {{ sshd_allow_agent_forwarding }}
X11Forwarding {{ sshd_x11_forwarding }}
PermitTunnel {{ sshd_permit_tunnel }}
PermitUserEnvironment {{ sshd_permit_user_env }}

ClientAliveInterval {{ sshd_client_alive_interval }}
ClientAliveCountMax {{ sshd_client_alive_count_max }}

{% if sshd_loglevel is defined %}
LogLevel {{ sshd_loglevel }}
{% endif %}

{% if sshd_syslog_facility is defined %}
SyslogFacility {{ sshd_syslog_facility }}
{% endif %}

{% if sshd_allow_users is defined and sshd_allow_users|length > 0 %}
AllowUsers {{ sshd_allow_users | join(' ') }}
{% endif %}
{% if sshd_allow_groups is defined and sshd_allow_groups|length > 0 %}
AllowGroups {{ sshd_allow_groups | join(' ') }}
{% endif %}

{% if sshd_hostkeys is defined %}
{% for hk in sshd_hostkeys %}
HostKey {{ hk }}
{% endfor %}
{% endif %}

{% if sshd_kex_algorithms is defined and sshd_kex_algorithms|length > 0 %}
KexAlgorithms {{ sshd_kex_algorithms | join(',') }}
{% endif %}
{% if sshd_ciphers is defined and sshd_ciphers|length > 0 %}
Ciphers {{ sshd_ciphers | join(',') }}
{% endif %}
{% if sshd_macs is defined and sshd_macs|length > 0 %}
MACs {{ sshd_macs | join(',') }}
{% endif %}

{% if sshd_banner_text is defined %}
Banner /etc/issue.ssh
{% endif %}
